{% load static %}
{% static "images" as baseURL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GuestIn</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
     <!-- FontAwesome CSS -->
     <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
 
     <!-- Swiper CSS -->
     <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
 
     <!-- Styles -->
     <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/gif"> 

    <!-- FA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="elements-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="{% url 'home' %}" style="font-size: 30px;">GuestIn</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="{% url 'home' %}">HOME</a></li>
                                <li><a href="{% url 'login' %}">LOGIN</a></li>
                                <li><a href="{% url 'register' %}">REGISTER</a></li>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="{% url 'user' %}">CONTACT</a></li>
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">{{eventid.name}}</h2>
                    </div><!-- .entry-header -->
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="main-content">
        <!-- Other Events -->
        <div class="container">
            <div class="row elements-wrap">
                <div class="col-12 buttons-wrap">
                    <div class="entry-header">
                        <h2 class="entry-title" style="margin-bottom: 10px;">{{eventid.name}} at {{eventid.place}}</h2>
                        <p class="p-b-100">
                            <span class="p-r-50">
                                Date: {{eventid.date}}
                            </span>
                            <span>
                                Place: <a href="{% url 'place:placeid' place=eventid.place %}">{{eventid.place}}</a>
                            </span>
                        </p>
                    </div><!-- entry-header -->

                    <div class="entry-content">
                        <a href="#">
                            <img src="{{eventid.img.url}}" class="img-fluid"
                            style="display: block; margin-left: auto; margin-right: auto; max-width: 50%;">
                        </a>

                        <form class="login100-form validate-form">
                            <span class="login100-form-title p-b-49 p-t-49">
                                Register
                            </span>
        
                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Name is required">
                                <span class="label-input100">Name</span>
                                <input class="input100" type="text" name="name" placeholder="person.name">
                                <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
        
                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Phone number is required">
                                <span class="label-input100">Phone number</span>
                                <input class="input100" type="number" name="phonenumber" placeholder="Phone Number">
                                <span class="focus-input100" data-symbol="&#xf2be;"></span>
                            </div>
                            
                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Email address is required">
                                <span class="label-input100">Email Address</span>
                                <input class="input100" type="text" name="email" placeholder="Email address (abc@gmail.com)">
                                <span class="focus-input100" data-symbol="&#xf15a;"></span>
                            </div>

                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Total number of people">
                                <span class="label-input100">Number of People</span>
                                <input class="input100" type="number" name="people" placeholder="Number of People">
                                <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            
                            <div class="container-login100-form-btn" 
                            style="max-width: 10rem; padding-top: 30px; display: block; margin-right: auto; margin-left: auto;">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- <form>
                            <h2 id="form-title">Register</h2>
                            <label for="name" style="color: black; padding-top: 100px;">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name">

                            <label for="emailaddress" style="color: black; padding-top: 30px;">Email address</label>
                            <input type="email" class="form-control" id="emailaddress" aria-describedby="emailHelp" placeholder="eg. abc@gmail.com">
                            
                            <label for="phonenumber" style="color: black; padding-top: 30px;">Mobile Number</label>
                            <input type="number" class="form-control" id="phonenumber" aria-describedby="phoneHelp" placeholder="Enter Mobile number">
                            
                            <label for="people" style="color: black; padding-top: 30px;">Number of People</label>
                            <input type="number" class="form-control" id="people" aria-describedby="couplesHelp" placeholder="Number of People">

                            <div class="container-login100-form-btn" 
                            style="max-width: 10rem; padding-top: 30px; display: block; margin-right: auto; margin-left: auto;">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">
                                        Register
                                    </button>
                                </div>
                            </div> container-login100-form-btn

                        </form> -->
                    </div><!-- entry-content -->
                </div> <!-- col-12 -->
            </div>
        </div>

        <!-- Events -->
        <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="the-complete-lineup">
                            <div class="entry-title">
                                <h2>Other Events:</h2>
                            </div><!-- entry-title -->
    
                            <div class="row the-complete-lineup-artists">
                                {% for event in events %}
                                <div class="col-6 col-md-4 col-lg-3 artist-single">
                                    <figure class="featured-image">
                                        <a href="{% url 'event:eventid' slug=event.slug %}"> <img src="{{event.img.url}}" alt="Flyer"> </a>
                                        <!-- <a href="#" class="box-link"> <img src="{{event.img.url}}" alt=""> </a> -->
                                    </figure>  <!--featured image-->
    
                                    <h2>{{event.name}}</h2>
                                    <p>
                                        <a href="{% url 'place:placeid' place=event.place %}" style="float: right;">{{event.place}}</a>
                                    </p>
                                </div> <!-- artist lineup -->
                                {% endfor %}
                        </div><!-- the-complete-lineup-artists -->
    
                            <div class="row justify-content-center">
                                <div class="see-complete-lineup">
                                    <div class="entry-footer">
                                        <a href="{% url 'event:event' %}" class="btn">See all Events</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- the-complete-lineup -->
                    </div><!-- col-12 -->
                </div><!-- row -->
        </div><!-- container -->
    </div>

    <div class="homepage-next-events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-title">
                        <p>JUST THE BEST</p>
                        <h2>Clubs and Bars</h2>
                    </div><!-- entry-title -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->

        <div class="next-event-slider-wrap">
            <div class="swiper-container next-event-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="next-event-content">
                            <figure class="featured-image">
                                <img src="{% static 'images/next-event-1.jpg' %}" alt="">

                                <a href="{% url 'place:placeid' place=eventid.place %}" class="entry-content flex flex-column justify-content-center align-items-center">
                                    <h3>Welcoming Party 2018</h3>
                                    <p>Green Palace, 22 Street, 23-28, Los Angeles California</p>
                                </a>
                            </figure><!-- featured-image -->
                        </div><!-- next-event-content -->
                    </div><!-- swiper-slide" -->

                    <div class="swiper-slide">
                        <div class="next-event-content">
                            <figure class="featured-image">
                                <img src="{% static 'images/next-event-2.jpg' %}" alt="">

                                <a href="{% url 'place:placeid' place=eventid.place %}" class="entry-content flex flex-column justify-content-center align-items-center">
                                    <h3>Welcoming Party 2018</h3>
                                    <p>Green Palace, 22 Street, 23-28, Los Angeles California</p>
                                </a>
                            </figure><!-- featured-image -->
                        </div><!-- next-event-content -->
                    </div><!-- swiper-slide" -->

                    <div class="swiper-slide">
                        <div class="next-event-content">
                            <figure class="featured-image">
                                <img src="{% static 'images/next-event-3.jpg' %}" alt="">

                                <a href="#" class="entry-content flex flex-column justify-content-center align-items-center">
                                    <h3>Welcoming Party 2018</h3>
                                    <p>Green Palace, 22 Street, 23-28, Los Angeles California</p>
                                </a>
                            </figure><!-- featured-image -->
                        </div><!-- next-event-content -->
                    </div><!-- swiper-slide" -->

                    <div class="swiper-slide">
                        <div class="next-event-content">
                            <figure class="featured-image">
                                <img src="{% static 'images/next-event-1.jpg' %}" alt="">

                                <a href="#" class="entry-content flex flex-column justify-content-center align-items-center">
                                    <h3>Welcoming Party 2018</h3>
                                    <p>Green Palace, 22 Street, 23-28, Los Angeles California</p>
                                </a>
                            </figure><!-- featured-image -->
                        </div><!-- next-event-content -->
                    </div><!-- swiper-slide" -->

                    <div class="swiper-slide">
                        <div class="next-event-content">
                            <figure class="featured-image">
                                <img src="{% static 'images/next-event-2.jpg' %}" alt="">

                                <a href="#" class="entry-content flex flex-column justify-content-center align-items-left">
                                    <h3>Welcoming Party 2018</h3>
                                    <p>Green Palace, 22 Street, 23-28, Los Angeles California</p>
                                </a>
                            </figure><!-- featured-image -->
                        </div><!-- next-event-content -->
                    </div><!-- swiper-slide" -->

                    <div class="swiper-slide">
                        <div class="next-event-content">
                            <figure class="featured-image">
                                <img src="{% static 'images/next-event-3.jpg' %}" alt="">

                                <a href="#" class="entry-content flex flex-column justify-content-center align-items-center">
                                    <h3>Welcoming Party 2018</h3>
                                    <p>Green Palace, 22 Street, 23-28, Los Angeles California</p>
                                </a>
                            </figure><!-- featured-image -->
                        </div><!-- next-event-content -->
                    </div><!-- swiper-slide" -->
                </div><!-- .swiper-wrapper -->
            </div><!-- .swiper-container -->

            <div class="swiper-button-next">
                <img src="{% static 'images/button.png' %}" alt="Slider">
            </div><!-- .slider-button -->
        </div><!-- .next-event-slider-wrap -->
    </div><!-- homepage-next-events -->

    <div class="row justify-content-center p-b-100">
        <div class="see-complete-lineup">
            <div class="entry-footer">
                <a href="{% url 'place:placeid' place=eventid.place %}" class="btn">See all Places</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>GuestIn</h2>
        </div><!-- .site-footer -->

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <h2>Contact Us</h2>
                        </div><!-- entry-title -->

                        <div class="entry-mail">
                                <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=alisolanki123@gmail.com&su=&body=&bcc=&tf=1">alisolanki123@gmail.com</a>
                            </div><!-- .entry-mail -->

                        <div class="copyright-info">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div><!-- copyright-info -->

                        <div class="footer-social">
                            <ul class="flex justify-content-center align-items-center">
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div><!-- footer-social -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- footer-content-wrapper -->
    </footer><!-- site-footer -->

    <!-- SCRIPTS -->
    <script type='text/javascript' src={% static 'js/jquery.js' %}></script>
    <script type='text/javascript' src={% static 'js/masonry.pkgd.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.collapsible.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/swiper.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.countdown.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/circle-progress.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.countTo.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/custom.js' %}></script>

<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'login/js/main.js' %}"></script>
</body>
</html>