{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GuestIn</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

     <!-- FontAwesome CSS -->
     <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
 
     <!-- Swiper CSS -->
     <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
 
     <!-- Styles -->
     <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/gif"> 

    <!-- FA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="elements-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="{% url 'index' %}" style="font-size: 30px;">GuestIn</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="{% url 'index' %}">HOME</a></li>
                                <li><a href="{% url 'login' %}">LOGIN</a></li>
                                <li><a href="{% url 'register' %}">REGISTER</a></li>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="{% url 'user' %}">CONTACT</a></li>
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">event-name</h2>
                    </div><!-- .entry-header -->
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="main-content">
        <div class="container">
            <div class="row elements-wrap">
                <div class="col-12 buttons-wrap">
                    <div class="entry-header">
                        <h2 class="entry-title">event-name at place-name</h2>
                    </div><!-- entry-header -->

                    <div class="entry-content">
                        <a href="#">
                            <img src="{% static 'event/images/bg-01.jpg' %}" class="img-fluid"
                            style="display: block; margin-left: auto; margin-right: auto; max-width: 50%;">
                        </a>

                        <form class="login100-form validate-form">
                            <span class="login100-form-title p-b-49 p-t-49">
                                Register
                            </span>
        
                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Name is required">
                                <span class="label-input100">Name</span>
                                <input class="input100" type="text" name="name" placeholder="Name">
                                <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
        
                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Phone number is required">
                                <span class="label-input100">Phone number</span>
                                <input class="input100" type="number" name="phonenumber" placeholder="Phone Number">
                                <span class="focus-input100" data-symbol="&#xf2be;"></span>
                            </div>
                            
                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Email address is required">
                                <span class="label-input100">Email Address</span>
                                <input class="input100" type="text" name="email" placeholder="Email address (abc@gmail.com)">
                                <span class="focus-input100" data-symbol="&#xf15a;"></span>
                            </div>

                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Total number of people">
                                <span class="label-input100">Number of People</span>
                                <input class="input100" type="number" name="people" placeholder="Number of People">
                                <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            
                            <div class="container-login100-form-btn" 
                            style="max-width: 10rem; padding-top: 30px; display: block; margin-right: auto; margin-left: auto;">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- <form>
                            <h2 id="form-title">Register</h2>
                            <label for="name" style="color: black; padding-top: 100px;">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name">

                            <label for="emailaddress" style="color: black; padding-top: 30px;">Email address</label>
                            <input type="email" class="form-control" id="emailaddress" aria-describedby="emailHelp" placeholder="eg. abc@gmail.com">
                            
                            <label for="phonenumber" style="color: black; padding-top: 30px;">Mobile Number</label>
                            <input type="number" class="form-control" id="phonenumber" aria-describedby="phoneHelp" placeholder="Enter Mobile number">
                            
                            <label for="people" style="color: black; padding-top: 30px;">Number of People</label>
                            <input type="number" class="form-control" id="people" aria-describedby="couplesHelp" placeholder="Number of People">

                            <div class="container-login100-form-btn" 
                            style="max-width: 10rem; padding-top: 30px; display: block; margin-right: auto; margin-left: auto;">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" type="submit">
                                        Register
                                    </button>
                                </div>
                            </div> container-login100-form-btn

                        </form> -->
                    </div><!-- entry-content -->
                </div> <!-- col-12 -->
            </div>
        </div>
    </div>
    

    <!-- SCRIPTS -->
    <script type='text/javascript' src={% static 'js/jquery.js' %}></script>
    <script type='text/javascript' src={% static 'js/masonry.pkgd.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.collapsible.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/swiper.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.countdown.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/circle-progress.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.countTo.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/custom.js' %}></script>

<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>
</body>
</html>