{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GuestIn</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/gif"> 

    <!-- FA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Login -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">

</head>
<body></body>

<a type="button" class="btn btn-primary btn-circle btn-xl" href="{% url 'home' %}" id="home-btn"
style="border-radius: 50%; margin-top: 2rem; margin-left: 2rem; margin-right: 2rem;">
        <i class="zmdi zmdi-home"></i>
</a>
            
    <!-- Register -->
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-100 p-b-54">
				<form class="login100-form validate-form" action="/register/" method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-49">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Name is required">
						<span class="label-input100">Name</span>
						<input class="input100" type="text" name="name" placeholder="Name">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Phone number is required">
						<span class="label-input100">Phone number</span>
						<input class="input100" type="number" name="phonenumber" placeholder="Phone Number">
						<span class="focus-input100" data-symbol="&#xf2be;"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Email address is required">
						<span class="label-input100">Email Address</span>
						<input class="input100" type="email" name="email" placeholder="Email address (abc@gmail.com)">
						<span class="focus-input100" data-symbol="&#xf15a;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Set Username">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password1" placeholder="Set Password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password2" placeholder="Confirm Password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						<a href="#">
							
						</a>
                    </div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Sign Up
							</button>
						</div>
                    </div>
                    <div class="flex-col-c p-t-50">
						<span class="txt1 p-b-17">
                            Or
                            <a href="{% url 'login' %}" class="txt2">
                                Log In
                            </a>
						</span>
					</div>
				</form>
			</div>
        </div>
    </div>

    <!--===============================================================================================-->
	    <script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'login/js/main.js' %}"></script>
        <!-- Torus -->
        <!-- <script src="https://app.tor.us/v1.1.1/embed.min.js"
        integrity="sha384-bZurz+1BCWSCW+A72qSOeWLPAQeiJ5UfF0aQN/75dZQ7m0HsX1jnYswuyAn/CYSl"
        crossorigin="anonymous"></script> -->
</body>
</html>