{% load static %}
{% static "images" as baseURL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GuestIn</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/gif"> 

    <!-- FA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'user/usermain.css' %}">
<!--===============================================================================================-->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <!-- <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css"> -->

</head>
<body>
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="#" style="font-size: 30px;">GuestIn</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'user' slug=user.username %}">Hello, {{user.first_name}}</a></li>
                                <li><a href="{% url 'home' %}">HOME</a></li>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="#">CONTACT</a></li>
                                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                                {% else %}
                                <li><a href="#">HOME</a></li>
                                <li><a href="{% url 'login' %}">LOGIN</a></li>
                                <li><a href="{% url 'register' %}">REGISTER</a></li>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="#">CONTACT</a></li>
                                {% endif %}
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->
    
    <div class="profile-page">
        <div class="page-header header-filter data-parallax='true'">
        </div>
        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 ml-auto mr-auto">
                            <div class="profile">
                                <div class="image-upload">
                                    <form action="/user/{{user.username}}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="file-input" class="img-raised rounded-circle img-fluid">
                                            <div class="img-me">
                                                <img src="{{userprofile.img.url}}" 
                                                alt="Circle Image" class="rounded-circle">
                                            </div>
                                            <div class="middle">
                                                <div class="text">
                                                    Upload
                                                </div>
                                            </div>
                                        </label>
                                        <input name="picture" type="file" id="file-input"/>
                                        <div class="container-login100-form-btn m-t-10">
                                            <div class="wrap-login100-form-btn">
                                                <div class="login100-form-bgbtn"></div>
                                                <button class="login100-form-btn">
                                                    Upload
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" 
                                alt="Circle Image" class="img-raised rounded-circle img-fluid"> -->
                                            
                                    
                                <!-- <div class="avatar">
                                    <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                </div> -->
                                <!-- <div class="name">
                                    <h3 class="title">Christian Louboutin</h3>
                                    <h6>Designer</h6>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div><!--row-->
                    
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#account" role="tab" data-toggle="tab">
                                    <i class="material-icons">account_box</i>
                                    {{user.first_name}}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                    <i class="material-icons">favorite</i>
                                        Events
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#edit" role="tab" data-toggle="tab">
                                    <i class="material-icons">edit</i>
                                        Edit
                                    </a>
                                </li>
                            </ul>
                        </div><!-- col-md-6 ml-auto mr-auto -->
                    </div><!-- row -->
                </div><!-- container -->
            
            <div class="tab-content tab-space">
                <div class="tab-pane active gallery" id="account">
                    <div class="wrap-input100 m-b-34">
                        <span class="label-input100"></span>
                        
                        <div class="data">
                            Name : 
                            <span class="data-input">
                                {{user.first_name}}
                            </span>
                        </div>
                    </div>

                    <div class="wrap-input100 m-b-34" data-validate = "Phone number is required">
                        <!-- <span class="label-input100"></span> -->
                        <div class="data">
                            Phone Number : 
                            <span class="data-input">
                                {{userprofile.phonenumber}}
                            </span>
                        </div>
                        <!-- <span class="focus-input100" data-symbol="&#xf2be;"></span> -->
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-34" data-validate = "Email address is required">
                        <!-- <span class="label-input100"></span> -->
                        <div class="data">
                            Email : 
                            <span class="data-input">
                                {{user.email}}
                            </span>
                        </div>
                        <!-- <span class="focus-input100" data-symbol="&#xf15a;"></span> -->
                    </div>
                </div><!--account-->

                <div class="tab-pane text-center gallery" id="favorite">
                    <div class="container" style="padding-bottom: 50px;">
                        <div class="row">
                            <div class="col-12">
                                <div class="the-complete-lineup">            
                                    <div class="row the-complete-lineup-artists">
                                        {% for event in registeredevents %}
                                        <div class="col-6 col-md-4 col-lg-3 artist-single">
                                            <figure class="featured-image">
                                                <a href="{% url 'event:eventid' slug=event.slug %}"> <img src="{{event.img.url}}" alt="Flyer"> </a>
                                                <!-- <a href="#" class="box-link"> <img src="{{event.img.url}}" alt=""> </a> -->
                                            </figure>  <!--featured image-->
            
                                            <h2>{{event.name}}</h2>
                                            <p>
                                                <a href="{% url 'place:placeid' place=event.place %}" style="float: right;">{{event.place}}</a>
                                            </p>
                                        </div> <!-- artist lineup -->
                                        {% endfor %}
                                    </div><!--row the-complete-lineup-artists-->
                                </div><!-- the-complete-lineup -->
            
                                <div class="row justify-content-center">
                                    <div class="see-complete-lineup">
                                        <div class="entry-footer">
                                            <a href="{% url 'event:event' %}" class="btn">See all Events</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- col-12 -->
                        </div><!-- row -->
                    </div><!-- container -->
                </div><!--favorite-->

                <div class="tab-pane text-center gallery" id="edit">
                    <form class="login100-form validate-form" action="/user/{{user.username}}" method="post">
                        {% csrf_token %}
                        <div class="wrap-input100 validate-input" data-validate = "Name is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="text" name="name" placeholder="Name: {{user.first_name}}" 
                            value="{{user.first_name}}">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Phone number is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="number" name="phonenumber" placeholder="Phone Number: {{userprofile.phonenumber}}"
                            value="{{userprofile.phonenumber}}">
                            <span class="focus-input100" data-symbol="&#xf2be;"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input" data-validate = "Email address is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="text" name="email" placeholder="Email address: {{user.email}}"
                            value="{{user.email}}">
                            <span class="focus-input100" data-symbol="&#xf15a;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Username is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="text" name="username" placeholder="Username: {{user.username}}"
                            value="{{user.username}}">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="password" name="password1" placeholder="Set new Password">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="password" name="password2" placeholder="Confirm new Password">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-46" data-validate="Password is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="password" name="password3" placeholder="Previous Password">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!--edit-->
            </div><!--tab content--> 
        </div><!--main-main-raised-->
    </div><!--profile-page-->
        
    <script type='text/javascript' src={% static 'js/jquery.js' %}></script>
    <script type='text/javascript' src={% static 'js/masonry.pkgd.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.collapsible.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/swiper.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.countdown.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/circle-progress.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/jquery.countTo.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/custom.js' %}></script>

    <!-- <script type='text/javascript' src="{% static 'user/main.js' %}"></script> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

</body>
</html>